{{ define "body" }}
    <body class="{{ if .Site.Params.backgroundImage }} background-image" style="background-image: url('{{ .Site.Params.backgroundImage }}');" {{ else }}"{{ end }}>
{{ end }}

{{ define "main" }}
    <main>
        <div>
            {{ if .Site.Params.Portrait.Path }}
               <img src="{{ .Site.Params.Portrait.Path }}" class="circle" alt="{{ .Site.Params.Portrait.Alt }}" style="max-width:{{ .Site.Params.Portrait.MaxWidth }}" />
            {{ end }}

            <h1 style="font-size: 5em;">
              <a class="shrug" style="text-decoration: none;" href="https://shrugpw.com">
                {{- $title := .Page.Title -}}
                <span aria-label="{{ $title }}">
                  {{- range seq 0 (sub (len $title) 1) -}}
                    <span>{{ substr $title . 1 }}</span>
                  {{- end -}}
                </span>
              </a>
            </h1>
            {{ partial "subtitle.html" . }}

            {{- with .Site.Params.social }}
                <div>
                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}
        </div>
    </main>
{{ end }}
